<div class="card-page-container">
  <mat-card>
    <mat-card-title>New Password</mat-card-title>
    <mat-card-content>
      <form class="form form-group" [formGroup]="newPasswordForm">
        <div class="full-width-form-container">
          <mat-form-field>
            <input type="email" matInput formControlName="email" id="email" placeholder="Email address" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="password" id="password" placeholder="Current password" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="newPassword" id="newPassword" placeholder="New password" />
            <mat-error *ngIf="newPasswordControl && newPasswordControl.hasError('required') && newPasswordControl.dirty">
              Please enter a new password
            </mat-error>
            <mat-error *ngIf="newPasswordControl && newPasswordControl.hasError('passwordLength')">
              Passwords must be at least {{ minPasswordLength }} characters long
            </mat-error>
            <mat-error *ngIf="newPasswordControl && newPasswordControl.hasError('passwordFormat')">
              Passwords must be have at least on lower case character, one upper case character, and include at least one of $#@!&^*%~
              <!-- todo: figure out a way to configure this programmatically. Break up the matchers -->
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              formControlName="confirmPassword"
              id="confirmPassword"
              placeholder="Confirm new password"
              (ngModelChange)="comparePasswords()"
            />
            <mat-error *ngIf="confirmPasswordControl && confirmPasswordControl.hasError('required') && confirmPasswordControl.dirty">
              Please enter a new password
            </mat-error>
            <mat-error *ngIf="confirmPasswordControl && confirmPasswordControl.hasError('passwordLength') && confirmPasswordControl.dirty">
              Passwords must be at least {{ minPasswordLength }} characters long
            </mat-error>
            <mat-error *ngIf="confirmPasswordControl && confirmPasswordControl.hasError('passwordFormat') && confirmPasswordControl.dirty">
              Passwords must be have at least on lower case character, one upper case character, and include at least one of $#@!&^*%~
              <!-- todo: figure out a way to configure this programmatically, maybe break up the matchers -->
            </mat-error>
            <mat-error *ngIf="confirmPasswordControl && confirmPasswordControl.hasError('nomatch') && !confirmPasswordControl.hasError('required')">
              Does not match new password.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="button" (click)="changePassword()">Change Password</button>
    </mat-card-actions>
  </mat-card>
</div>
