<div class="card-page-container">
  <mat-card>
    <mat-card-title>New Password</mat-card-title>
    <mat-card-content>
      <form class="form form-group" [formGroup]="newPasswordForm">
        <div class="full-width-form-container">
          <mat-form-field>
            <input type="password" matInput formControlName="password" id="password" placeholder="Current password" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="newPassword" id="newPassword" placeholder="New password" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="button" (click)="changePassword()">Change Password</button>
    </mat-card-actions>
  </mat-card>
</div>
